---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-gradient-to-r from-white via-slate-100 to-white">
		<Header />
		<main class="mx-auto p-8 w-full lg:w-3/4 flex flex-col gap-20">
			<div class="md:flex mt-20 md:space-x-20">
				<h1 class="tracking-tight text-4xl md:text-6xl font-bold">
					<p class="whitespace-nowrap">Taxi company</p>
					<p
						class="h-30 ml-px bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 via-amber-500 to-amber-900"
					>
						management sim
					</p>
				</h1>
				<p
					class="text-slate-800 max-w-96 min-w-80 md:mx-auto m-2 text-lg font-normal"
				>
					Happy Cabby is an upcoming taxi management sim that puts you
					in charge of running your very own virtual taxi company.
				</p>
			</div>
			<div class="mx-auto w-80">
				<p class="font-bold text-center">Sign up for updates</p>
				<form
					id="form"
					action="https://buttondown.email/api/emails/embed-subscribe/happycabby"
					method="post"
					target="_blank"
					class="flex text-sm md:text-md"
					onsubmit="document.getElementById('form').classList.add('hidden'); document.getElementById('thank-you').classList.remove('hidden');"
				>
					<div class="mx-auto p-6 flex flex-col md:flex-row gap-2">
						<input
							id="email"
							type="email"
							name="email"
							class="h-8 rounded px-4 py-2"
							required
							placeholder="you@awesome.com"
						/>
						<input
							type="submit"
							class="rounded bg-amber-500 px-3 py-1.5"
							value="Subscribe"
						/>
					</div>
				</form>
				<div id="thank-you" class="text-center hidden">Thank you!</div>
			</div>
			<p class="rounded-lg drop-shadow-md overflow-hidden">
				<img
					class=""
					src="/screenshots/dispatch-screen.png"
					alt="Taxi company management sim"
				/>
			</p>
			<div>
				<h2 class="text-3xl md:text-4xl font-bold p-8 md:text-center">
					Features
				</h2>
				<div
					class="grid grid-cols-1 md:grid-cols-2 justify-items-center"
				>
					<div class="w-80 h-52">
						<h3 class="font-bold text-2xl py-2">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="size-10 inline mr-4"
								><circle cx="12" cy="12" r="10"
								></circle><polyline points="12 6 12 12 16 14"
								></polyline></svg
							>Real-time
						</h3>
						Everything takes place in real-time - a 10 minute ride will
						take 10 actual minutes! Plan ahead to avoid leaving your
						customers stranded.
					</div>
					<div class="w-80 h-52">
						<h3 class="font-bold text-2xl py-2">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="size-10 inline mr-4"
								><path
									d="M18 8c0 3.613-3.869 7.429-5.393 8.795a1 1 0 0 1-1.214 0C9.87 15.429 6 11.613 6 8a6 6 0 0 1 12 0"
								></path><circle cx="12" cy="8" r="2"
								></circle><path
									d="M8.714 14h-3.71a1 1 0 0 0-.948.683l-2.004 6A1 1 0 0 0 3 22h18a1 1 0 0 0 .948-1.316l-2-6a1 1 0 0 0-.949-.684h-3.712"
								></path></svg
							>Real-life
						</h3>
						Based on actual map data from OpenStreetMap®, you can choose
						to start your company in any city in the UK. Where will you
						choose?
					</div>
					<div class="w-80 h-52">
						<h3 class="font-bold text-2xl py-2">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="size-10 inline mr-4"
								><path d="M12 16v5"></path><path d="M16 14v7"
								></path><path d="M20 10v11"></path><path
									d="m22 3-8.646 8.646a.5.5 0 0 1-.708 0L9.354 8.354a.5.5 0 0 0-.707 0L2 15"
								></path><path d="M4 18v3"></path><path
									d="M8 14v7"></path></svg
							>Management
						</h3>
						Help your company grow from humble beginnings to a thriving
						operation. Will you focus on one area, or expand your reach
						as far as you can?
					</div>
					<div class="w-80 h-52">
						<h3 class="font-bold text-2xl py-2">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="size-10 inline mr-4"
								><path
									d="m16 16 3-8 3 8c-.87.65-1.92 1-3 1s-2.13-.35-3-1Z"
								></path><path
									d="m2 16 3-8 3 8c-.87.65-1.92 1-3 1s-2.13-.35-3-1Z"
								></path><path d="M7 21h10"></path><path
									d="M12 3v18"></path><path
									d="M3 7h2c2 0 5-1 7-2 2 1 5 2 7 2h2"
								></path></svg
							>Balance
						</h3>
						Lots of customers but not enough drivers means long wait
						times, lots of drivers but not enough customers means unhappy
						drivers. Strike the balance!
					</div>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
