---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-gradient-to-r from-white via-slate-100 to-white">
		<Header />
		<main class="mx-auto p-8 w-full lg:w-3/4 flex flex-col gap-20">
			<div class="md:flex md:m-20 md:ml-8 md:gap-20">
				<h1 class="tracking-tight text-4xl md:text-6xl font-bold">
					<p class="whitespace-nowrap">Taxi company</p>
					<p
						class="h-30 bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 via-amber-500 to-amber-900"
					>
						management sim
					</p>
				</h1>
				<div class="py-3"></div>
				<p
					class="text-slate-800 max-w-96 min-w-80 mx-auto m-2 text-lg font-normal"
				>
					Happy Cabby is an upcoming taxi management sim that puts you
					in charge of running your very own virtual taxi company.
				</p>
			</div>
			<div class="mx-auto w-80">
				<p class="font-bold text-center">Sign up for updates</p>
				<form
					id="form"
					action="https://buttondown.email/api/emails/embed-subscribe/happycabby"
					method="post"
					target="_blank"
					class="flex text-sm md:text-md"
					onsubmit="document.getElementById('form').classList.add('hidden'); document.getElementById('thank-you').classList.remove('hidden');"
				>
					<div class="mx-auto p-6 flex flex-col md:flex-row gap-2">
						<input
							id="email"
							type="email"
							name="email"
							class="h-8 rounded px-4 py-2"
							required
							placeholder="you@awesome.com"
						/>
						<input
							type="submit"
							class="rounded bg-amber-500 px-3 py-1.5"
							value="Subscribe"
						/>
					</div>
				</form>
				<div id="thank-you" class="text-center hidden">Thank you!</div>
			</div>
			<p class="rounded-lg drop-shadow-md overflow-hidden">
				<img
					class=""
					src="/screenshots/dispatch-screen.png"
					alt="Taxi company management sim"
				/>
			</p>
			<div>
				<h2 class="text-3xl md:text-4xl font-bold">Features</h2>
				<div
					class="grid grid-cols-1 md:grid-cols-2 justify-items-center"
				>
					<div class="size-80 bg-red-500 m-4"></div>
					<div class="size-80 bg-red-500 m-4"></div>
					<div class="size-80 bg-red-500 m-4"></div>
					<div class="size-80 bg-red-500 m-4"></div>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
