---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="w-full h-20">
	<nav class="flex flex-row justify-between p-6">
		<h2 class="hidden md:block text-2xl font-bold">
			<a href="/">{SITE_TITLE}</a>
		</h2>
		<div class="flex flex-row gap-8 text-md">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Devlog</HeaderLink>
		</div>
		<div class="">
			<a class="rounded bg-amber-500 px-6 py-3 font-bold">Register</a>
		</div>
	</nav>
</header>
